html { 
  background: #6a6a6a;
  height: 100%;
}
body {
  background: white;
  width: 800px;
  min-height: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Archivo", sans-serif;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border: 1px solid #999;
}

.logo {
  display: flex;
  flex: 1;
}

.logo-color {
  font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  background-color: #faee3b;
  color: #76711f;
  font-size: 25px;
  padding: 25px 20px;
  padding-right: 5px;
  display: flex;
  align-items: right;
}

.logo-white {
  font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  background-color: #ffffff;
  color: #999;
  font-size: 25px;
  padding: 25px 20px;
  padding-left: 3px;
  display: flex;
  align-items: left;
}

nav {
  background-color: #ddd;
  display: flex;
  align-items: center;
  padding-right: 20px;
  border-left: 1px solid #999;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 14px;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.column {
  width: 30%;
}

.placeholder-image {
  width: 100%;
  height: 150px;
  background-color: #d9d9d9;
  border: 1px solid #bbb;
  margin-bottom: 10px;
}

.column h2 {
  font-size: 15px;
  text-align: center;
  margin: 10px 0;
}

.column p {
  font-size: 13px;
  line-height: 1.5;
  text-align: justify;
}

footer {
  text-align: center;
  padding: 15px;
  border-top: 1px solid #ccc;
  font-size: 13px;
}
